.useful--tags__title{
    position: relative;
    padding: 1rem 1rem 0 1rem;
    display: inline-block;
}
        
.useful--tags__title::after{
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--color);
}
        
body.active .useful--tags__title{
    color: var(--text-lightmode);
}
    
body.active .useful--tags__title::after{
    background-color: var(--color-lightmode);
}