.header{
    box-sizing: initial;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--bg-container);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-x: hidden;
    transition: width .5s ease;
    width: 70px;
    z-index: 2;
}

.header.active{
    width: 250px;
}

body.active .header{
    background-color: var(--bg-container-lightmode);
}

@media screen and (max-width: 1405px){
    .header{
        padding: 0 5rem;
        box-sizing: border-box;
        position: initial;
        width: 100%;
        
        height: 70px;
        border-radius: 0;
    }
}

@media screen and (max-width: 675px){
    .header{
        padding: 0;
    }
}