.palette{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    border: 1px solid var(--bg-body);
}

body.active .palette{
    border-color: var(--bg-body-lightmode);
}

@media screen and (max-width: 675px){
    .palette{
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
}