.header__list{
    left: 0;
    position: absolute;
    padding-left: 4px;
    margin-top: 50px;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 1405px){
    .header__list{
        padding-left: 0;
        position: initial;
        display: block;
        height: 70px;
        margin-top: 0;
    }
}

