.header__list--span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    line-height: 70px;
    min-width: 60px;
    position: relative;
    text-align: center;
}

@media screen and (max-width: 1405px){
    .header__list--span{
        position: initial;
    }
}

@media screen and (max-width: 675px){
    .header__list--span{
        min-width: 30px;
        height: 30px;
    }
}
