.link{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    width: fit-content;
    margin: .2rem auto 0 auto;
}

.link:hover{
    text-decoration: underline;
    color: var(--color);
}

body.active .link:hover{
    color: var(--color-lightmode);
}