p{
    width: fit-content;
    color: var(--profile-color);
    cursor: pointer;
    position: relative;
    margin: 0 auto;
}

p:hover{
    color: var(--white);
    text-decoration: underline;
}

body.active p:hover{
    color: var(--color-lightmode);
}

body.active .p:hover::after{
    color: var(--black);
}
