.container--symbol--codes{
    grid-column: 3 / 3;
    grid-row: 1 / 2;
    border-left: 1px solid var(--bg-body);
    border-top: 1px solid var(--bg-body);
}

body.active .container--symbol--codes{
    border-color: var(--bg-body-lightmode);
}

@media screen and (max-width: 675px){
    .container--symbol--codes{
        grid-column: 1 / 1;
        grid-row: 4 / 4;
    }
}


