.card__description{
    font-size: 1.3rem;
    margin-left: 1rem;
    color: var(--profile-color);
    text-transform: capitalize;
}

body.active .card__description{
    color: var(--profile-color-lightmode);
}