.card__list__link{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    transition: .25%;
    color: rgba(0,255,255,.7);
    transition: .3s ease;
    text-decoration: none;
}

.card__list__link:hover{
    color: var(--color);
    text-decoration: underline;
}

body.active .card__list__link:hover{
    color: #000;
}