.description--span{
    display: block;
    font-size: .8rem;
    font-weight: 400;
    color: var(--profile-color-darker);
    letter-spacing: 3px;
}

body.active .description--span{
    color: var(--profile-color-darker-lightmode);
}