.videos--images{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    border: 1px solid var(--bg-body);
}

body.active .videos--images{
    border-color: var(--bg-body-lightmode);
}

@media screen and (max-width: 675px){
    .videos--images{
        grid-column: 1 / 1;
        grid-row: 6 / 6;
    }
}