.checkbox--btn{
    position: absolute;
    width: 100px;
    height: 40px;
    bottom: 30px;
    right: 30px;
    background-color: var(--bg-container);
}


.checkbox--btn input:checked + .btn__div .div__slide{
    transform: translateX(60px);
}

.checkbox--btn .div__slide::before{
    content: 'ON';
    width: 60px;
    height: 100%;
    position: absolute;
    left: -60px;
    top: 0;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: green;
    font-weight: bold;
}

.checkbox--btn .div__slide::after{
    content: 'OFF';
    width: 60px;
    height: 100%;
    position: absolute;
    right: -60px;
    top: 0;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: red;
    font-weight: bold;
}

@media screen and (max-width: 1565px){
    .checkbox--btn{
        right: 0;
        top: 0;
    }
}

@media screen and (max-width: 940px){
    .checkbox--btn{
        right: 40PX;
        top: 0;
    }
}

@media screen and (max-width: 675px){
    .checkbox--btn{
        position: absolute;
        right: 20px;
        top: 10px;
    }
}

@media screen and (max-width: 445px){
    .checkbox--btn{
        top: 0;
        left: 10px;
    }
}


