.formatting--tags__title{
    position: relative;
    padding: 0 1rem;
    margin: 1rem;
    display: inline-block;
}

.formatting--tags__title::after{
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--color);
}

body.active .formatting--tags__title{
    color: var(--text-lightmode);
}

body.active .formatting--tags__title::after{
    background-color: var(--color-lightmode);
}